<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>Enter new user details:</h2>
    <form action="/user/new" method="post">
        <label for="username">Enter username:</label>
        <input type="text" name="username" id="username" placeholder="enter username">
        <label for="email">Enter email:</label>
        <input type="text" name="email" id="email" placeholder="enter email">
        <label for="password">Enter password:</label>
        <input type="password" name="password" id="password" placeholder="enter password">
        <button>Add user</button>
    </form>
</body>
</html>